body{
    background-image: url(../img/argentina.jpg);
    background-size: cover;
}
h2{
    background-color: lightblue;
    text-align: center;
}
p{
    background-color: lightblue;
    text-align: center;
}
button[type="submit"] {
    padding: 10px 20px; 
    font-size: 16px; 
    color: #fff; 
    background-color: blue; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
    align-items: center ;
}

